name: CI/CD Pipeline

on:
  push:
    branches: [ "main", "developer" ]
  pull_request:
    branches: [ "main", "developer" ]

jobs:
  test:
    name: Verificação Técnica e Testes
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: "sqlite:///./test.db"
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Pytest
      run: |
        pytest tests/